<div class="row no-gutters">
  <div class="col-12">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Име</th>
          <th scope="col">Код</th>
          <th scope="col">Описание</th>
          <th scope="col">Брой ADR</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories; let i = index">
          <th scope="row">{{i}} </th>
          <td>{{category.name }}</td>
          <td>{{category.name }}</td>
          <td>{{category.name }}</td>
          <td>{{category.name }}</td>
          <td><button (click)="onEdit(category.id)" class="btn btn-primary">Редактирай</button></td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-primary" (click)="onNewCategory()">Добави категория</button>
  </div>
  <router-outlet></router-outlet>
</div>
