<!-- Sidebar -->
<div id="tmSideBar" class="sidebar" [ngClass]="{'show' : !slide}">

  <button id="tmMainNavToggle" class="menu-icon" (click)="menuOpen()">&#9776;</button>

  <div class="inner">
    <nav id="tmMainNav" class="tm-main-nav">
      <ul>
        <li>
          <a routerLink="/" routerLinkActive="active-link" class="scrolly">
            <span>Начало</span>
          </a>
        </li>
        <li>
          <a routerLink="/adr-info" routerLinkActive="active" class="scrolly">
            <span>Какво е ADR?</span>
          </a>
        </li>
        <li *ngIf="isAuthenticated">
          <a routerLink="/adrs" routerLinkActive="active" class="scrolly">
            <span>ADR библиотека</span>
          </a>
        </li>
        <li *ngIf="isAuthenticated">
          <a routerLink="/categories" routerLinkActive="active" class="scrolly">
            <span>ADR Категории</span>
          </a>
        </li>
        <li *ngIf="!isAuthenticated">
          <a routerLink="/auth" routerLinkActive="active" class="scrolly">
            <span>Вход</span>
          </a>
        </li>
        <li *ngIf="isAuthenticated">
          <a style="cursor: pointer;" (click)="onLogout()" class="scrolly">
            <span>Изход</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
