<!-- Sidebar -->
<div id="tmSideBar" class="sidebar" [ngClass]="{'show' : !slide}">

  <button id="tmMainNavToggle" class="menu-icon" (click)="menuOpen()">&#9776;</button>

  <div class="inner">
    <nav id="tmMainNav" class="tm-main-nav">
      <ul>
        <li>
          <a routerLink="" routerLinkActive="active" class="scrolly">
            <i class="fas fa-comments tm-nav-fa-icon"></i>
            <span>Начало</span>
          </a>
        </li>
        <li>
          <a routerLink="/adr-info" routerLinkActive="active" class="scrolly">
            <i class="fas fa-home tm-nav-fa-icon"></i>
            <span>Какво е АДР?</span>
          </a>
        </li>
        <li>
          <a routerLink="/adrs" routerLinkActive="active" class="scrolly">
            <i class="fas fa-map tm-nav-fa-icon"></i>
            <span>АДР библиотека</span>
          </a>
        </li>
        <li>
          <a routerLink="/categories" routerLinkActive="active" class="scrolly">
            <i class="fas fa-users tm-nav-fa-icon"></i>
            <span>АДР Категории</span>
          </a>
        </li>
      </ul>
      <ul>
        <li>
          <a routerLink="/login" routerLinkActive="active" class="scrolly">
            <i class="fas fa-home tm-nav-fa-icon"></i>
            <span>Вход</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
