<!-- Sidebar -->
<div id="tmSideBar" class="sidebar" [ngClass]="{'show' : !slide}">

    <button id="tmMainNavToggle" class="menu-icon" (click)="menuOpen()">&#9776;</button>

    <div class="inner">
        <nav id="tmMainNav" class="tm-main-nav">
            <ul>
                <li>
                    <a href="#contact" class="scrolly" data-bg-img="constructive_bg_04.jpg" data-page="#tm-section-4">
                        <i class="fas fa-comments tm-nav-fa-icon"></i>
                        <span>Начало</span>
                    </a>
                </li>
                <li>
                    <a href="#intro" id="tmNavLink1" class="scrolly active" data-bg-img="constructive_bg_01.jpg" data-page="#tm-section-1">
                        <i class="fas fa-home tm-nav-fa-icon"></i>
                        <span>Какво е АДР?</span>
                    </a>
                </li>
                <li>
                    <a href="#products" id="tmNavLink2" class="scrolly" data-bg-img="constructive_bg_02.jpg" data-page="#tm-section-2" data-page-type="carousel">
                        <i class="fas fa-map tm-nav-fa-icon"></i>
                        <span>АДР библиутека</span>
                    </a>
                </li>							
                <li>
                    <a href="#company" class="scrolly" data-bg-img="constructive_bg_03.jpg" data-page="#tm-section-3">
                        <i class="fas fa-users tm-nav-fa-icon"></i>
                        <span>АДР Категории</span>
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a routerLink="/login" id="tmNavLink1" class="scrolly active" data-bg-img="constructive_bg_01.jpg" data-page="#tm-section-1">
                        <i class="fas fa-home tm-nav-fa-icon"></i>
                        <span>Login</span>
                    </a>
                </li>
                <li>
                    <a href="#products" id="tmNavLink2" class="scrolly" data-bg-img="constructive_bg_02.jpg" data-page="#tm-section-2" data-page-type="carousel">
                        <i class="fas fa-map tm-nav-fa-icon"></i>
                        <span>Register</span>
                    </a>
                </li>						
            </ul>
        </nav>
    </div>
</div>