<!-- Page Content -->
<div class="container-fluid tm-main">
    <div class="row tm-main-row no-gutters">
        <app-sidebar class="col-xl-3 col-lg-4 col-md-12 col-sm-12 "></app-sidebar>
        <div class="col-xl-9 col-lg-8 col-md-12 col-sm-12 tm-content">

            <!-- section 1 -->
            <section id="tm-section-1" class="tm-section">
                <div class="ml-auto">
                    <header class="mb-4"><h1 class="tm-text-shadow">Constructive Design</h1></header>
                    <p class="mb-5 tm-font-big">Aenean fermentum vestibulum ipsum, ut pretium erat sodales sodales. Pellentesque quis orci vitae dui commodo sodales et ut quam. Etiam vitae egestas purus, ut malesuada enim.</p>
                    <a href="#" class="btn tm-btn tm-font-big" data-nav-link="#tmNavLink2">Continue...</a> 
                    <!-- data-nav-link holds the ID of nav item, which means this link should behave the same as that nav item  -->
                </div>
            </section>
            <span *ngFor="let cat of categories">{{cat.name}}</span>
            <span *ngFor="let adr of adrs">{{adr.name}}</span>
        </div>	<!-- .tm-content -->	
    </div>
</div>  